<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     Welcome to 
     {{ title }}
  </h1>
</div>
  
  <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
          <li class="active">
            <a routerLink="/home">Home</a>
          </li> 
          <li class="active">
            <a routerLink="/form">Register Here</a>
          </li>
        </ul>
  
  </nav>

  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
  

  
   <router-outlet></router-outlet>

  


